<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0898guoji.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>102</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
				<key>dateExpires</key>
				<string>17/07/2024</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AESCrypt.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AMPopTip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Action.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BRPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EmptyDataSet_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>8.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FlexLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.28</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GCDTimerManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JJCollectionViewRoundFlowLayout_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXPagingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JXSegmentedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMNOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>9.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PasswordBoxView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>3.24.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RTRootNavigationController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SKPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGAPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwipeCellKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZLPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>536703B7AD59789049BA7087BE92E5C3B2E7241D</string>
						<key>dateExpires</key>
						<string>17/07/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S225688T8A</string>
						<key>name</key>
						<string>Lawrence Richardson</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S225688T8A.com.group.zise.0898guoji</string>
				<key>com.apple.developer.team-identifier</key>
				<string>S225688T8A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>0898guoji.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>31011824-621e-46ab-8271-d3deff36f465</string>
				<key>dateExpires</key>
				<string>17/07/2024</string>
				<key>name</key>
				<string>wilid</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S225688T8A</string>
				<key>name</key>
				<string>Lawrence Richardson</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
